@page
@model DarkWar_WebApp.Pages.OverviewModel
@{
    ViewData["Title"] = "Player Overview";
}

<style>
    thead th {
        vertical-align: middle;
        height: 60px; /* optional */
    }
    td {
        vertical-align: middle;
        font-size: large;
    }
</style>

<h2 class="text-light">Player Overview</h2>

<form method="post" enctype="multipart/form-data" class="mb-3">
    <div class="d-flex justify-content-start">
        <button type="submit" class="btn btn-primary bg-dark text-light border-light me-4 ">📂 Upload CSV</button>
        <input type="file" name="csvFile" accept=".csv" class="form-control w-auto me-2 bg-dark text-light" />
    </div>
</form>

<table class="table table-striped table-bordered border-1 border-dark">
    <thead class="table-dark text-light text-md-center">
        <tr>
            <th>Name</th>
            <th>CP</th>
            <th>Rank</th>
            <th>Watchtower Level</th>
            <th>Open Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model.PlayerList)
        {
            <tr class="text-light">
                <td class="fw-bold"style="width:40%;">@player.PlayerName</td>
                <td class="fw-bold text-center" style="width:20%;">@player.CP.ToString("N0", new System.Globalization.CultureInfo("de-DE"))</td>
                <td class="text-center" style="width:10%;">@player.Rank</td>
                <td class="text-center" style="width:10%;">@player.WatchtowerLevel</td>
                <td class="text-center" style="width:20%;">
                    <button class="btn btn-primary bg-dark border-1 border-light" onclick="openPlayer('@player.PlayerName')">Open @player.PlayerName</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function formatCP(input) {
        let raw = input.value.replace(/\D/g, ""); // nur Zahlen
        if (!raw) {
            input.value = "";
            return;
        }

        let withDots = raw.replace(/\B(?=(\d{3})+(?!\d))/g, ".");
        input.value = withDots;
    }

    function openPlayer(playerName) 
    {
        window.location.href = '/PlayerDetails/' + encodeURIComponent(playerName);
    }
</script>